<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <title>Adopta Venezuela</title>
</head>
<body>
    <div id="container">
        <h1>Adopta Venezuela</h1>

        <h2>&iquest;Qu&eacute; es Adopta Venezuela?</h2>

        <p>Es una iniciativa que permite, a trav&eacute;s de un Tweet, 
        ayudar a cientos de mascotas a encontrar un hogar donde las cuiden y 
        les den todo el cari&ntilde;o que necesitan.</p>

        <h2>&iquest;C&oacute;mo uso Adopta Venezuela?</h2>

        <p>Sencillo, sigue estos pasos:</p>

        <ol>
        <li>Sigue en Twitter a <a href="http://twitter.com/#!/adoptave">@AdoptaVe</a> y espera su followback (puede demorar unos minutos)</li>

        <li>Env&iacute;a un DM a <a href="http://twitter.com/#!/adoptave">@AdoptaVe</a> con la solicitud que desees hacer, por ejemplo:
        <blockquote>"Tengo un lindo perrito que busca un hogar. Info aqu&iacute;"</blockquote>
        </li>

        <li>Espera unos minutos y <a href="http://twitter.com/#!/adoptave">@AdoptaVe</a> publicar&aacute; tu solicitud en su Timeline para que 
        todos sus seguidores puedan verla.</li>
        </ol>

        <p>No hace falta que coloques tu usuario en la solicitud, <a href="http://twitter.com/#!/adoptave">@AdoptaVe</a> lo colocar&aacute; 
        autom&aacute;ticamente. Puedes agregar un correo, un n&uacute;mero de contacto o fotos de tu mascota si as&iacute; lo deseas.</p>

        <p>Con esto ya estar&aacute;s usando el poder de Twitter para conseguirle hogar a una mascota.</p>

        <p>&iquest;Qu&eacute; esperas? Hazle follow a <a href="http://twitter.com/#!/adoptave">@AdoptaVe</a> y ay&uacute;danos en esta noble labor</p>
        
        <div id="footer">Esta iniciativa ha sido desarrollada por <a href="http://arepadev.com">Arepa Development</a></div>
    </div>
</body>
</html>
