<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
    <title>Adopta Venezuela</title>
</head>
<body>
    <div id="container">
        <h1>Adopta Venezuela</h1>

        <h2>&iquest;Qu&eacute; es Adopta Venezuela?</h2>

        <p>Una iniciativa que hemos creado un par de programadores para que a trav&eacute;s de Twitter todos podamos 
        ayudar a esas miles de mascotas que no tienen casa a encontrar un hogar donde las cuiden y 
        les den todo el cari&ntilde;o que necesitan.</p>

        <h2>&iquest;C&oacute;mo uso Adopta Venezuela?</h2>

        <p>Sencillo, sigue estos pasos:</p>

        <ol>
        <li>Sigue en Twitter a <a href="http://twitter.com/#!/adoptave">@AdoptaVe</a> y espera su followback (puede demorar unos minutos)</li>

        <li>Env&iacute;a un DM a @AdoptaVe con la solicitud que desees hacer, por ejemplo:
        <blockquote>"Tengo un lindo perrito que busca un hogar. Info aqu&iacute;"</blockquote>
        </li>

        <li>Espera unos minutos y @AdoptaVe publicar&aacute; tu solicitud en su Timeline para que miles de personas puedan verla.</li>
        </ol>

        <p>No hace falta que coloques tu usuario en la solicitud, <a href="http://twitter.com/#!/adoptave">@AdoptaVe</a> lo colocar&aacute; autom&aacute;ticamente. 
        Puedes agregar un correo, un número de contacto o fotos de tu mascota si as&iacute; lo deseas.</p>

        <p>Con esto ya estar&aacute;s usando el poder de Twitter para conseguirle hogar a una mascota.</p>

        <p>&iquest;Qu&eacute; esperas? Hazle follow a <a href="http://twitter.com/#!/adoptave">@AdoptaVe</a> y ay&uacute;danos en esta noble labor</p>
    </div>
</body>
</html>
