body {
    /*background: #fff url('images/background.png') repeat;*/
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
    font-size: 13px;
    line-height: 1.6em;
    color: #333;
}

a, a:hover {
    color: #036DB4;
    text-decoration: none;
}

h1 {
    font-family: 'PT Sans Narrow';
    font-size: 48px;
    color: #036DB4;
}

h2 {
    font-family: 'PT Sans Narrow';
    font-size: 24px;
    color: #036DB4;
}

p {
    margin-left: 20px;
    text-align: justify;
}

blockquote {
    margin: 10px;
    padding: 20px 20px;
    border-left: 5px solid #ccc;
}

#container {
    width: 960px;
    margin: 0 auto;
    padding: 15px 30px;
}

#text {
    float: left;
    width: 610px;
}

#tweets {
    float: left;
    width: 260px;
    padding: 20px 20px;
}

#footer {
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-top: 20px;
}

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}
