body {
    background-color: #fff;
    margin: 20;
    padding: 0;
    font-family: 'Balthazar', sans-serif;
    font-size: 18px;
    color: #333;
}

h1 {
    margin-top: 20px;
    font-size: 48px;
    color: #000;
}

h2 {
    margin-left: 10px;
    font-family: 'Marmelad', sans-serif;
    font-size: 24px;
    color: #000;
}

p {
    margin-left: 20px;
    
}

blockquote {
    margin: 10px;
    padding: 20px 20px;
    border-left: 5px solid #ccc;
}

#container {
    width: 740px;
    margin: 0 auto;
}
